@font-face {
    font-family: "BebasNeue-Regular";
    src: url(../fuentes/BebasNeue-Regular.ttf);
}


/*variables*/

$fuente :"BebasNeue-Regular";
$fuente2:Helvetica, sans-serif;
$porciento: 100% ;
$fuente-rem: 1rem ;
$altura-vh:1vh;
$ancho-vh:1vh;
$color-naranja:#f18705;
$color-negro:#232323;
$color-blanco:#fff;
$pixel: 10px;


/*mixins*/

@mixin basico( $letra , $colorletra , $tamanioletra) {

    font-family: $letra;
    color: $colorletra;
    font-size: $tamanioletra;


}
