* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

@font-face {

    font-family: "StanleyPersonalUse";
    src: url(../fuentes/StanleyPersonalUse.ttf);

}

@font-face {
    font-family: "BebasNeue-Regular";
    src: url(../fuentes/BebasNeue-Regular.ttf);
}

/*inicio header*/
header {
    width: 100%;
    background-color: #232323;
    height: auto;
}

.menu {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 100px;
}

.contenedor__nav,
.navegacion__nav {

    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
    justify-content: center;

}

.nav__item {
    margin: 10px;
}

.navegacion__nav a {

    color: #fff;
    font-size: large;
    font-family: "BebasNeue-Regular";
    font-size: 2rem;
    text-decoration: none;
}

/* inicio menu mobile */

#check__menu,
.contenedor__nav label {

    display: none;
}


/* pseudoclases navbar */

.nav__item :hover {

    border-top: 3px solid #F18805;
    padding-top: 10px;


}


.contenedor__logo {
    display: flex;
    align-items: center;
    height: 100%;

}

.texto__logo {

    color: #fff;
    font-family: Helvetica, sans-serif;
    font-size: 3.5rem ;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 20px;
    
}


/* Fin header */

.padre__titulo {

    display: flex;
    width: 100%;
    height: 100px;
    align-items: center;
    justify-content: center;


}

.container__banner {

    padding: 0%;
    margin: 0;
}

/* Shop */
.titulo__tienda {

    font-family: "BebasNeue-Regular";
    margin-top: 10px;
    font-size: 2rem;

}

.padre__remeras {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    align-items: start;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;

}

.contenedor__img {
    object-fit: cover;
    height: 550px;
    width: 100%;
    overflow: hidden;
    border-radius: 5px ;
}

.remera {

    font-weight: 600;
    width: 100%;
    height: 100%;
    border: 1px solid;
    object-fit: cover;
    transition: transform 0.2s;
}

.contenedor__img :hover {

    transform: scale(1.5);

}


.descripcion {

    font-family: "BebasNeue-Regular";
    font-size: 1.5rem;
    font-style: italic;
    display: flex;
    background-color: #232323;
    color: #fff;
    margin: 0;
    border: 1px solid #000;
    flex-direction: column;
    align-items: center;
    width: 100%;
    
}



.boton__añadir {
    width: 100%;
    font-family: "BebasNeue-Regular";
    font-size: large;
}

.boton__añadir :hover {
    background-color: #fff;
}

/* fin shop */





/* formulario*/

.contenedor__titulo2 {

    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: center;

}

.titulo2__formulario {

    font-family: "BebasNeue-Regular";
    margin-top: 10px;
    margin-bottom: 50px;
    font-size: 25px;
}

form {

    border-radius: 5px;
    background-color: #F18805
}

form .btn-primary {

    --bs-btn-color: #fff;
    --bs-btn-bg: #000000;
    --bs-btn-border-color: #232323;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #232323;
    --bs-btn-hover-border-color: #000;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #232323;
    --bs-btn-active-border-color: #232323;
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #232323;
    --bs-btn-disabled-border-color: #232323;
}

/* fin formulario*/


/* seccion footer */
.padre__footer {

    background-color: #232323;

}

footer a {

    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;

}

.nav__footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
        "menuf email contacto"
        "menuf email contacto"
        "menuf email redes";

}

.mf1 {

    margin-left: 30px;
}


.contenedor__nav__footer {

    grid-area: menuf;
    font-family: "BebasNeue-Regular";
    color: #fff;
    margin: 20px;

}


.contenedor__mailcontacto {

    grid-area: contacto;
    font-family: "BebasNeue-Regular";
    color: #fff;
    margin: 20px;
    font-size: 1.5rem;
}


.contenedor__emailoff {

    font-family: "BebasNeue-Regular";
    color: #fff;
    margin-top: 20px;

}
#input-mail-footer {

    width: 330px ;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f7f7f7;
    font-size: 16px;
    color: #333;
  }


.contenedor__redes__footer {

    grid-area: redes;
    margin-left: 10px;

}

/* pagina nosotros*/

.padre__nosotros {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas:
    "imagenos textonos"
     
}

.img__nosotros{
    grid-area: imagenos;
    height: 100vh;
    width: 100vh;
}

.texto__nosotros {

    grid-area: textonos;
    font-size: 2rem;
    font-family: "BebasNeue-Regular";

}

/*pagina diseños*/

.contenedor__banana {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas:
    "banana textobanana"
     
}

.img__banana{
    grid-area: banana;
    height: 80vh;
    width: 80vh;
}

.texto__banana {

    grid-area: textobanana;
    font-size: 2rem;
    font-family: "BebasNeue-Regular";
    margin-top: 30vh;
   


}

.contenedor__cajon {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas:
    "cajon textocajon"
     
}

.img__cajon{
    grid-area: cajon;
    height: 80vh;
    width: 80vh;
}

.texto__cajon {

    grid-area: textocajon;
    font-size: 2rem;
    font-family: "BebasNeue-Regular";
    margin-top: 40vh;

}

.contenedor__ojo {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas:
    "textoojo ojo"
     
}

.img__ojo{
    grid-area: ojo;
    height: 80vh;
    width: 80vh;
}

.texto__ojo {

    grid-area: textoojo;
    font-size: 2rem;
    font-family: "BebasNeue-Regular";
    margin-top: 30vh;

}



/* media queries */


/* breackpoint 768px*/
@media (max-width:768px) {

    .contenedor__nav {
        justify-content: flex-end;
    }

    .contenedor__nav label {
        display: flex;
        position: absolute;


    }

    .navegacion__nav {

        display: none;
    }

    #check__menu:checked~.navegacion__nav {

        background-color: #F18805;
        width: 100%;
        height: 200vh;
        position: absolute;
        left: 0;
        top: 100px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;


    }
    /*fin navegacion nav*/

    /*titulo contacto*/

    .contenedor__titulo2{

        margin-top: 50px ;
    }

    .contenedor__nav__footer {

        display: none;
    }

    /*fin titulo contacto*/


    /* pagina nosotros*/

    .padre__nosotros{

        display: flex;
        flex-direction: column;
        width: 100%;

    }

    .texto__nosotros{

        font-size: 1.5rem;

    }

    .img__nosotros {

        width: 100%;
    }


    /*comienzo nav footer*/
    .nav__footer {
        display: grid;
        grid-template-columns: 1, 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas:
            "email"
            "contacto"
            "redes";

    }

    .contenedor__mailcontacto {

        grid-area: contacto;
        font-family: "BebasNeue-Regular";
        color: #fff;
        margin: 20px;
        width: 100%;
    }

    .contenedor__emailoff {

        font-family: "BebasNeue-Regular";
        color: #fff;
        margin: 20px;
        width: 450px;

    }

    #input-mail-footer {

        width: 330px ;
        padding: 10px;
        margin: 10px 0;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #f7f7f7;
        font-size: 16px;
        color: #333;
    }

    .contenedor__banana, .contenedor__cajon,.contenedor__ojo{

        display: flex;
        flex-direction: column;
        margin: 0;
        font-size: 0.5rem;
    }
  

}

 /* breackpoint 576px*/
 @media (max-width:576px) {

    .contenedor__emailoff {

        font-family: "BebasNeue-Regular";
        color: #fff;
        margin: 20px;
        width: 300px;

    }

    #input-mail-footer {

        width: 300px;
        padding: 10px;
        margin: 10px 0;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #f7f7f7;
        font-size: 16px;
        color: #333;
      }

 }
 

